<h6 class="divs" [routerLink]="['/admindashboard']"  ><img style="width: 50px; margin-top: 5px;" src="https://static.vecteezy.com/system/resources/previews/000/436/974/original/vector-forward-arrows-icon.jpg"alt=> </h6>
<div class="container">
    <div class="row">
<ng-container *ngFor="let item of productdata ">
<div >
<br>
            <img class="img" src="{{item.images}}" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p><strong>Price:</strong>{{item.price}}</p>
<button class="btn btn-dark" (click)=addtocart(item)>Add to Cart</button> 
</div>
</ng-container>
</div>
</div>



    
            