<br>
<div class="col text-center">
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/student']">View Student List </button>
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/booklist']">View Book List </button>
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/booktaken']">View Book Taken</button>
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/return']">View Book Return</button>
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/issue']">Functionality</button>
      <button type="button" class="btn btn-primary btn-lg margin-left"[routerLink]="['/signupstudent']">Enroll Student</button>
      <strong  [routerLink]="['/admin']"  ><img style="width: 25px; margin-top: 5px;" src="https://th.bing.com/th/id/OIP.0mrqOxepIamnbyCNaGxOqAHaHj?w=185&h=189&c=7&r=0&o=5&pid=1.7"alt=> Logout</strong>
</div>
<div><img src="assets\WHAT-IS-THE-PURPOSE-OF-A-LIBRARY-MANAGEMENT-SYSTEM-min (1).png"alt="no"></div>
 
