.card{

    border: none;
    width:500px;
    padding: 40px;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%,5%);
    background:aquamarine(205,46% ,30%,1);
    background: linear-gradient(90deg,rgb(145, 233, 123)0%,rgb(103, 212, 219)100%);
   
   }
   
   .card label h1,h6{
   
       color:white
   
   }
   
   label{
       color: white;
   }
   .col-md-6{
    margin-left: auto;
    margin-right: auto;
}
.margin-left{
    margin-left: 4px !important;
}
.divs
{
    padding-left: 1250px;
}