<ng-container>
    <!-- Admin -->
    <div class="container">
        <div class="card">
            <div class="center">
            <strong>Hello, Admin</strong>
            Welcome to Online Library Management System<br>
        <img src="assets\WHAT-SYSTEM-DOES-A-LIBRARY-USE-min-768x768 (2).png" alt=""></div><br>
    <b>You can access various features after Login/SignUp</b><br>
            </div>
    <button routerLink="/signup"class="btn btn-primary">SignUp </button>&nbsp;&nbsp;&nbsp;
    <button routerLink="/login"class="btn btn-primary">Login</button>
</div>
</ng-container>
<ng-container>
    <!-- login -->
    <br>
    <div class="container">
        <div class="card">
            <div class="center">
            <strong>Hello, Librarian</strong>
            Welcome to Online Library Management System<br>
            &nbsp;&nbsp;&nbsp;
            <img src="assets\OI(2).jpg" alt=""></div><br>
            <b>You can access various features after Login/SignUp</b><br>
            </div>
    <button routerLink="/signuplibrarian"class="btn btn-primary">SignUp </button>&nbsp;&nbsp;&nbsp;
    <button routerLink="/librarianlogin"class="btn btn-primary">Login</button>
</div>
</ng-container>
